{%- if section.settings.show_announcement -%}
  {%- assign small_text_on_mobile = section.settings.small_announcement_text -%}

  <div id="announcement"
       data-section-id="{{ section.id }}"
       data-section-type="announcement-section"
       data-template="{{ template.name }}">

    <div class="newwrapper">
    <div class="grid grid-small flex-nowrap align-center announcement-grid whitespace-nowrap fadeIn">
      <div class="grid__item three-twelfths flex announcement-item announcement-left overflow-hidden small--hide align-center">
        {%- if section.settings.show_social -%}
          {%- render "social-medias" -%}
        {%- endif -%}

        {%- if section.settings.left_message -%}
          <span class="announcement-left-message rte">{{- section.settings.left_message -}}</span>
        {%- endif -%}
      </div>

      <div class="grid__item large-six-twelfths medium--six-twelfths announcement-item announcement-message overflow-hidden text-center{% if section.blocks.size > 1 %} slick slick-announcement{% endif %}"
        data-autoplayspeed="{{ section.settings.announcement_autoplayspeed | times: 1000 }}">

        {%- for block in section.blocks -%}
          {%- assign announcement_text = block.settings.announcement_text -%}

          {%- unless announcement_text == blank -%}
            <div class="announcement-message-item announcement-{{ block.id }} rte{% if small_text_on_mobile %} text-small-mobile{% endif %}" 
              {{ block.shopify_attributes }}>
              {{ announcement_text }}
            </div>
          {%- endunless -%}
        {%- endfor -%}
      </div>

      <div class="grid__item three-twelfths flex justify-end announcement-item announcement-right overflow-hidden small--hide align-center">
        {%- if section.settings.right_message -%}
          <span class="announcement-right-message rte">{{- section.settings.right_message -}}</span>
        {%- endif -%}
        <ul class="inline-list">
          {%- if section.settings.phone -%}
          <li>
            <a href="tel:{{ shop.phone | remove: '-' | replace: ' ', '' }}" title="{{ shop.phone }}" aria-label="{{ shop.phone }}">
              <span class="{{ settings.icon }}" aria-hidden="true">phone</span>
            </a>
          </li>
          {%- endif -%}
          {%- if section.settings.email -%}
          <li>
            <a href="mailto:{{ shop.email | escape }}" title="{{ shop.email }}" aria-label="{{ shop.email }}">
              <span class="{{ settings.icon }}" aria-hidden="true">email</span>
            </a>
          </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  </div>
</div>
{%- endif -%}

<style>

  .newwrapper {
    padding-left: 10px;
  padding-right: 10px;    
  }

  #announcement span {
      font-family: {{ settings.sidemenu_link_font.family }}, {{ settings.sidemenu_link_font.fallback_families }};
     font-weight: {{ settings.sidemenu_link_font.weight }};
      font-style: {{ settings.sidemenu_link_font.style }};
  }

</style>

{% schema %}
  {
    "name": "Announcement Bar",
	  "class": "announcement-section stacked-on-top-of-content",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "t:sections.announcement.settings.enable_announcement_bar.label",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "small_announcement_text",
        "label": "t:sections.announcement.settings.enable_small_text_on_mobile.label",
        "default": false
      },
      {
        "type": "richtext",
        "id": "left_message",
        "label": "t:sections.announcement.settings.left_message.label",
        "default": "<p>Follow us!</p>"
      },
      {
        "type": "richtext",
        "id": "right_message",
        "label": "t:sections.announcement.settings.right_message.label",
        "default": "<p>Get in touch with us</p>"
      }
    ],
	  "presets": [
      {
      "name": "Announcement Bar",
      "category": "Custom"
      }
    ]
  }
{% endschema %}
