{%- assign about_font = settings.about_header_font -%}
{%- assign about_background_image = settings.about_background_image -%}

<div class="about-page-wrapper">
  <div class="box">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item large--eight-twelfths push--large--two-twelfths">
          <div class="section-header">
            <div class="page-title-wrapper">
              <h1 class="page-title">{{ page.title }}</h1>
            </div>
          </div>

          {%- unless page.content == blank -%}
            <div class="page-content rte">
              {{ page.content }}
            </div>
          {%- endunless -%}
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  #mainContent {
    {% if settings.about_background_image != blank %}
      background-image: url({{ settings.about_background_image | img_url: 'master' }});
      background-size: {{ settings.about_background_size }};
      background-repeat: {{ settings.about_background_repeat }};
      background-position: {{ settings.about_background_position_x }}% {{ settings.about_background_position_y }}%;
    {% endif %}
    background-color: {{ settings.about_background_color }};
  }

  .page-content, .rte, .page-title, .template-page h1, .template-page h2, .template-page h3 {
    color: {{ settings.about_text_color }};
    font-family: {{ about_font.family }};
  }
        
  body.template-page-about {
    min-height: 100vh;
    background-image: url({{ settings.about_background_image | img_url: 'master' }});
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: {{ settings.about_background_color }};
  }


  .template-page-about .page-title,
  .template-page-about .page-content,
  .template-page-about .rte,
  .template-page-about h1,
  .template-page-about h2,
  .template-page-about h3 {
    color: {{ settings.about_text_color }};
    font-family: {{ settings.about_header_font.family }}, sans-serif;
  }

  {{ settings.about_header_font | font_face }}
