
<header class="password-page__header" role="banner" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="wrapper">
    <div class="grid grid-spacer align-center small--text-center">
      <div class="grid__item large--six-twelfths medium--six-twelfths">
        <h1 class="site-header__logo" itemscope itemtype="http://schema.org/Organization">
          {%- liquid
            if section.settings.logo_svg != blank
              assign pt_image = section.settings.logo_svg
              assign pt_image_type = 'svg'
            elsif section.settings.logo != blank
              assign pt_image = section.settings.logo
              assign pt_image_type = 'retina'
            endif
          -%}

          {%- if pt_image != blank -%}
            <img class="imgset lazyload radius-none"
            {%- render 'lazysizes', img: pt_image, img_type: pt_image_type, img_width: section.settings.logo_width -%}
            alt="{{ shop.name }}">
          {%- else -%}
            <span class="logo-text">{{ shop.name }}</span>
          {%- endif -%}
        </h1>
      </div>
      <div class="grid__item large--six-twelfths medium--six-twelfths large--text-right medium--text-right">
        {%- if section.settings.show_pass_entry -%}
      <button type="button" class="seaggs-password" data-modal-open="#LoginModal">
         {{ section.settings.password_text }}
        </button> 
      {%- endif -%}
  
      </div>
    </div>
  </div>
</header>

{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}

{%- unless shop.password_message == blank -%}
  <div class="section-default">
    <div class="box">
      <div class="wrapper">
        <div class="grid">
          <div class="grid__item large--eight-twelfths push--large--two-twelfths text-center">
            <p class="text-lead spacer-none">{{ shop.password_message }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endunless -%}


<style>
  .seaggs-password {
    background-color: {{ section.settings.password_button_color }}; 
    color: {{ section.settings.password_text_color }};
    font-size: {{ section.settings.password_text_size }}px;
    text-decoration: underline;
  }

  .modal-content {
  background-color: {{ section.settings.password_entry_background_color }} !important ;
  }

  {%- if section.settings.enable_password_entry_editor -%}
    #LoginModal {
    display: block !important;
    }
  {%- endif -%}


{%- if section.settings.enable_border -%}
  .modal-content {
    border: 1px solid {{ section.settings.border }};
  }
{%- endif -%}

  .modal-content {
   border-radius: {{ section.settings.border_radius }}px;
  }

  .password-btn {
    background-color: {{ section.settings.submit_button_color }};
    color: {{ section.settings.submit_text_color }} !important;
  }

.overlay-content .text-link {
    color: {{ section.settings.admin_color }} !important;
}


  .modal-content label, .modal-content .admin-login, .overlay-content button {
    color: {{ section.settings.password_entry_more }} !important;
}

  .admin-login .text-link {
        color: {{ section.settings.password_entry_more }} !important;
  }

  #password-entry {
   color: {{ section.settings.submit_text_color }} !important;
   border-radius: {{ section.settings.border_radius }}px !important;
  }
  
  {%- if section.settings.hide_admin -%}
  .admin-login {
    display: none;
  }
  {%- endif -%}

  
  {%- if section.settings.enable_border -%}
  .modal-content {
    border: 1px solid {{ section.settings.border }};
  }
{%- endif -%}

 #password {
    margin-top: 1vh;
    margin-bottom: 1.5vh;
    padding: 7px;
  }


    #entry, #password {
      text-align: {{ section.settings.password_text_alignment }};
    }

    #password-entry {
    display: flex;
    justify-content: {{ section.settings.button_text_alignment }};
    }

   
      input::-webkit-input-placeholder {
      color: {{ section.settings.placeholder_color }} !important; /* Change to your desired color */
    }
    
    input:-moz-placeholder {
      color: {{ section.settings.placeholder_color }} !important; /* Change to your desired color */
    }
    
    input::-moz-placeholder {
      color: {{ section.settings.placeholder_color }} !important; /* Change to your desired color */
    }
    
    input:-ms-input-placeholder {
      color: {{ section.settings.placeholder_color }} !important; /* Change to your desired color */
    }


  
</style>



{% schema %}
  {
    "name": "t:sections.password_header.name",
    "class": "password-header",
    "settings": [
       {
      "type": "paragraph",
      "content": "More Options are available in Theme Settings -> Password Page."
    },
        {
      "type": "checkbox",
      "id": "show_pass_entry",
      "label": "Display Password Link",
      "default": true
    },
       {
      "type": "checkbox",
      "id": "enable_password_entry_editor",
      "label": "Password Entry Editor",
      "default": false,
      "info": "NOTE: Uncheck before publishing or else entry screen will appear on the screen without pressing the link"
    },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.password_header.settings.logo.label"
      },
      {
        "type": "text",
        "id": "logo_svg",
        "label": "t:sections.password_header.settings.logo_svg.label",
        "placeholder": "logo.svg",
        "info": "t:sections.password_header.settings.logo_svg.info"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "t:sections.password_header.settings.logo_width.label",
        "min": 60,
        "max": 200,
        "step": 2,
        "unit": "px",
        "default": 150
      },
       {
      "type": "color",
      "id": "password_entry_text",
      "label": "Password Entry Text",
      "default": "#000000"
    },
       {
      "type": "color",
      "id": "password_text_color",
      "label": "Password Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "password_button_color",
      "label": "Password Button Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "password_text_size",
      "label": "Password Text Size",
      "min": 12,
      "max": 18,
      "step": 1,
      "default": 12,
      "unit": "px"
    },
       {
      "type": "header",
      "content": "Password Entry"
    },
     {
      "type": "color",
      "id": "password_entry_background_color",
      "label": "Entry Background Color",
      "default": "#000000"
    },
         {
      "type": "color",
      "id": "password_entry_more",
      "label": "Entry Text Colors",
      "default": "#000000"
    },
      {
      "type": "checkbox",
      "id": "hide_admin",
      "label": "Hide Admin Login",
      "default": false
      },
        {
      "type": "color",
      "id": "admin_color",
      "label": "Admin Link Color",
      "default": "#000000"
    },
       {
      "type": "checkbox",
      "id": "enable_border",
      "label": "Enable Border",
      "default": false
    },
    {
      "type": "color",
      "id": "border",
      "label": "Border",
      "default": "#000000"
      },
     {
      "type": "text",
      "id": "password_input_text",
      "label": "Input Text",
      "default": "Enter Password",
      "placeholder": "Enter Password"
      },
        {
      "type": "text",
      "id": "password_text",
      "label": "Top-Right Password Link",
      "default": "Enter Password",
      "placeholder": "Enter Password"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Radius",
      "min": 0,
      "max": 45,
      "step": 1,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "color",
      "id": "text_element_colors",
      "label": "Text Element Colors",
      "default": "#000000"
    },
       {
      "type": "color",
      "id": "placeholder_color",
      "label": "Placeholder Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "submit_button_color",
      "label": "Submit Button Color",
      "default": "#000000"
    },
      {
      "type": "color",
      "id": "submit_text_color",
      "label": "Submit Text Color",
      "default": "#ffffff"
    },
       {
      "type": "radio",
      "id": "password_text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    },
    {
      "type": "radio",
      "id": "button_text_alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "flex-start"
      }
    ]
  }
{% endschema %}
