{%- assign time_typography = section.settings.time_typography -%}
{%- assign header_typography = section.settings.header_typography -%}
{%- assign label_typography = section.settings.label_typography -%}


<div class="password-page__content" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="password-section">



  <div class="section-blank">
    <div class="box">
      <div class="wrapper">
        {%- if section.settings.enable_countdown -%}
        {% render "countdown" %}
        {%- endif -%}

        {%- if section.settings.enable_sms_on_page -%}
        <div class="sms-area">
          {{ settings.sms__email_embed }} 
        </div>
          {%- endif -%}
  
      </div>
  </div>
</div>
</div>

<style>

        {{ time_typography | font_face }}
      {{ header_typography | font_face }}
      {{ label_typography | font_face }}

  .sms-area {
    width: 100%;
    display: flex;
    justify-content: center;
  }

    .countdown-timer-heading {
       font-family: {{ section.settings.header_typography.family }}, {{ section.settings.header_typography.fallback_families }};
      font-size: {{ section.settings.header_size }}px;
          color: {{ section.settings.header_text_color }};
    }
      #js-clock-days, #js-clock-hours, #js-clock-minutes, #js-clock-seconds {
    font-size: {{ section.settings.time_text_size }}px !important;
       font-family: {{ section.settings.time_typography.family }}, {{ section.settings.time_typography.fallback_families }};
            color: {{ section.settings.time_text_color }};
  }

  .time-label {
    font-family: {{ section.settings.label_typography.family }}, {{ section.settings.label_typography.fallback_families }};
    font-size: {{ section.settings.time_label_size }}px !important;
    text-transform: {{ section.settings.label_capitalization }};
        color: {{ section.settings.label_text_color }};
  }
  
</style>

{% schema %}
  {
    "name": "SEAGGS Password Content",
    "class": "password-content",
    "settings": [
         {
      "type": "checkbox",
      "id": "enable_countdown",
      "label": "Enable Countdown",
      "default": true
    },
       {
      "type": "checkbox",
      "id": "enable_sms_on_page",
      "label": "Enable SMS on Page",
      "default": true
    },
       {
      "type": "checkbox",
      "id": "hide_time_label",
      "label": "Hide Time Label",
      "default": false
    },
       {
      "type": "paragraph",
      "content": "This area uses JavaScript and may give you an error in selecting fonts. Select your font and hit save. Your changes should be still displayed."
    },
       {
      "type": "font_picker",
      "id": "header_typography",
      "label": "Header Typography",
      "default": "helvetica_n4"
    },
    {
      "type": "font_picker",
      "id": "time_typography",
      "label": "Number Typography",
      "default": "helvetica_n4"
    },
       {
      "type": "font_picker",
      "id": "label_typography",
      "label": "Label Typography",
      "default": "helvetica_n4"
    },
    {
      "type": "text",
      "id": "countdown_header",
      "label": "Countdown Header",
      "default": "Countdown",
      "placeholder": "Countdown"
    },
          {
      "type": "color",
      "id": "header_text_color",
      "label": "Header Color",
      "default": "#000000"
    },
          {
      "type": "color",
      "id": "time_text_color",
      "label": "Number Color",
      "default": "#000000"
    },
          {
      "type": "color",
      "id": "label_text_color",
      "label": "Label Color",
      "default": "#000000"
    },
      {
      "type": "range",
      "id": "countdown_gap",
      "label": "Countdown Gap",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 10,
      "unit": "px"
    },
       {
      "type": "range",
      "id": "bottom_space",
      "label": "Space Below Countdown",
      "min": 0,
      "max": 8,
      "step": 1,
      "default": 2,
      "unit": "vh"
    },
       {
      "type": "range",
      "id": "header_size",
      "label": "Header Size",
      "min": 10,
      "max": 40,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
      {
      "type": "range",
      "id": "time_text_size",
      "label": "Time Text Size",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "time_label_size",
      "label": "Time Label Size",
      "min": 10,
      "max": 40,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
       {
      "type": "select",
      "id": "label_capitalization",
      "label": "Label Capitalization",
      "options": [
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "capitalize"
    },
    {
      "type": "text",
      "id": "year",
      "label": "Year"
    },
    {
      "type": "select",
      "id": "month",
      "label": "Month",
      "options": [
        {
          "value": "0",
          "label": "January"
        },
        {
          "value": "1",
          "label": "February"
        },
        {
          "value": "2",
          "label": "March"
        },
        {
          "value": "3",
          "label": "April"
        },
        {
          "value": "4",
          "label": "May"
        },
        {
          "value": "5",
          "label": "June"
        },
        {
          "value": "6",
          "label": "July"
        },
        {
          "value": "7",
          "label": "August"
        },
        {
          "value": "8",
          "label": "September"
        },
        {
          "value": "9",
          "label": "October"
        },
        {
          "value": "10",
          "label": "November"
        },
        {
          "value": "11",
          "label": "December"
        }
      ]
    },
    {
      "type": "range",
      "id": "day",
      "label": "Day",
      "min": 1,
      "max": 31,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "hours",
      "label": "Hours",
      "min": 0,
      "max": 24,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "minutes",
      "label": "Minutes",
      "info": "Verify duration is correct by checking here: https://www.calculator.net/time-duration-calculator.html",
      "min": 0,
      "max": 60,
      "step": 1,
      "default": 0
    }
    ]
  }
{% endschema %}
