{%- assign footer_typography = section.settings.footer_typography -%}

<footer
  class="password-page__footer"
  role="contentinfo"
  id="section-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="password-footer"
>
  <div class="wrapper">
    <div class="copyrightinfo">
      <a class="poweredby" href="https://seaggs.com/">Powered by SEAGGS</a>
      <p class="custom-cred">
        ©{{ 'now' | date: '%Y' }}
        {{ section.settings.custom_copyright }}
      </p>
    </div>
  </div>
</footer>

<style>
    .password-page__footer, .custom-cred {
      font-family: system-ui;
    }


      .copyrightinfo a, .copyrightinfo p {
        font-size: {{ section.settings.footer_text_size }}px;
        font-family: {{ section.settings.footer_typography.family }}, {{ section.settings.footer_typography.fallback_families }};
      }
      .password-page__footer {
        background-color: {{ section.settings.footer_color }};
      }

      footer a, footer .custom-cred {
        font-family: {{ section.settings.footer_typography.family }}, {{ section.settings.footer_typography.fallback_families }};
        color: {{ section.settings.footer_copyright_color }};
      }

  .copyrightinfo {
    display: flex;
    flex-direction: column;
    text-align: {{ section.settings.footer_text_align }};
  }

    {%- if section.settings.hide_powered_by -%}
      .poweredby {
        display: none;
      }
    {%- endif -%}


      {%- if section.settings.hide_password_footer -%}
     footer {
       display: none;
     }
    {%- endif -%}

  
    {%- if section.settings.enable_top_border -%}
      .password-page__footer {
      border-top: {{ section.settings.border_thickness }}px solid {{ section.settings.border_color }};
      }
    {%- endif -%}


    .poweredby {
      font-family: system-ui;
    }
</style>

{% schema %}
{
  "name": "Password Footer",
  "class": "password-footer",
  "settings": [
      {
    "type": "checkbox",
    "id": "hide_password_footer",
    "label": "Hide Password Footer",
    "default": false
  },
    {
      "type": "checkbox",
      "id": "enable_top_border",
      "label": "Enable Top Border",
      "default": false,
      "info": "Displays a border on the right."
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "label": "Border Thickness",
      "min": 0,
      "max": 5,
      "step": 1,
      "default": 1,
      "unit": "px"
    },
     {
    "type": "font_picker",
    "id": "footer_typography",
    "label": "Footer Typography",
    "default": "helvetica_n4"
  },
     {
    "type": "select",
    "id": "footer_text_align",
    "label": "Footer Text Align",
    "options": [
      {
        "value": "left",
        "label": "Left"
      },
      {
        "value": "center",
        "label": "Center"
      },
      {
        "value": "right",
        "label": "Right"
      }
    ],
    "default": "center"
  },
      {
    "type": "range",
    "id": "footer_text_size",
    "label": "Footer Text Size",
    "min": 10,
    "max": 20,
    "step": 1,
    "default": 14,
    "unit": "px"
  },
     {
    "type": "checkbox",
    "id": "hide_powered_by",
    "label": "Hide \"Powered By...\"",
    "default": false
  },
     {
    "type": "text",
    "id": "custom_copyright",
    "label": "Custom Copyright"
    },
      {
    "type": "color",
    "id": "footer_color",
    "label": "Footer Background Color",
    "default": "#000000"
  },
  {
    "type": "color",
    "id": "footer_copyright_color",
    "label": "Footer Text Color",
    "default": "#ffffff"
  }
  ]
}
{% endschema %}
